.profile {
    position: relative;
    margin: auto;
}

.profile__section {
    padding-top: 74px;
    margin: auto;
    max-width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.profile__data {
    position: relative;
    z-index: 0;
    padding-top: 123px;
    padding-bottom: 220px;

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.profile__container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.profile__container:first-child {
    padding-bottom: 16px;
    border-bottom: 1px solid #424242;
}

.profile__subtitle {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.profile__input {
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    text-align: end;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    transition: color 0.3s;
}

.profile__input_error {
    color: #EE3465;
}

.profile__input:focus-visible {
    outline: none;
}

.profile__error-message {
    bottom: 45%;
    position: absolute;
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #EE3465;

    opacity: 0;
    transition: opacity 0.1s;
}

.profile__error_visible {
    opacity: 0.65;
}

.profile__edit {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    transition: opacity 0.2s;
}

.profile__edit_disabled {
    opacity: 0.1;
}

.profile__signout {
    padding-top: 16px;
    padding-bottom: 70px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;

    color: #EE3465;
}

@media screen and (max-width: 768px) {
    .profile {
        padding-top: 236px;
    }

    .profile__data {
        padding-top: 96px;
        padding-bottom: 210px;
    }

    .profile__signout {
        padding-bottom: 269px;
    }
}

@media screen and (max-width: 450px) {
    .profile__data {
        padding-top: 80px;
        padding-bottom: 379px;
    }

    .profile {
        max-width: 260px;
        padding-top: 70px;
    }

    .profile__signout {
        padding-bottom: 40px;
    }
}