.project {
    padding-top: 110px;
    padding-left: 70px;
    padding-right: 70px;
}

.project * {
    margin: 0;
}

.project__title {
    padding-bottom: 23px;

    width: 100%;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    border-bottom: #DADADA 1px solid;
}

.project__info-container {
    padding-top: 70px;
    padding-bottom: 110px;

    display: flex;
}

.project__info {
    display: flex;
    flex-direction: column;
}

.project__info:first-child {
    padding-right: 40px;
}

.project__info-title {
    padding-bottom: 26px;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
}

.project__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.project__progress-container {
    display: flex;
}

.project__bar-container {
    display: flex;
    flex-direction: column;

    padding-bottom: 110px;
}

.project__bar-container_backend {
    width: 20%;
}

.project__bar-container_frontend {
    width: 80%;
}

.project__bar-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.project__bar-title_backend {

    background: #3DDC84;
    color: #000000;
}

.project__bar-title_frontend {

    background: #303030;
}

.project__bar-subtitle {
    padding-top: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
}

@media screen and (max-width: 1020px) {
    .project {
        padding-top: 90px;
        padding-left: 50px;
        padding-right: 50px;
    }

}

@media screen and (max-width: 768px) {
    .project__info:first-child {
        padding-right: 30px;
    }

    .project__info-title {
        padding-bottom: 22px;
    }

    .project__text {
        font-size: 12px;
    }

    .project__bar-container_backend {
        max-width: 140px;
        width: 100%;
    }

    .project__bar-container_frontend {
        width: 100%;
        max-width: 528px;
    }

    .project__info-container {
        padding-bottom: 93px;
    }

    .project__bar-container {
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 510px) {
    .project {
        padding-top: 70px;
        padding-left: 18px;
        padding-right: 18px;
    }

    .project__info:first-child {
        padding-right: 0;
    }

    .project__info-container {
        padding-top: 60px;
        padding-bottom: 60px;
        flex-direction: column;

        gap: 56px;
    }

    .project__bar-subtitle {
        padding-top: 10px;
        font-size: 11px;

    }
}

@media screen and (max-width: 430px) {
    .project__text {
        font-size: 11px;
    }

    .project__info-title {
        padding-bottom: 16px;

        font-size: 18px;
    }

    .project__bar-container_backend {
        max-width: 100px;
    }

    .project__bar-container {
        padding-bottom: 70px;
    }
}

@media screen and (max-width: 350px) {}