.search {
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 70px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.search__container {
    width: 100%;
    margin-bottom: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2F2F2F;
    border-radius: 9px;
    gap: 19px;
}

.search__line {
    background-color: #424242;
    height: 1px;
    border: none;
}


.search__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__input-container {
    display: flex;
    align-items: center;
    height: 72px;
}

.search__magni {
    background-image: url(/src/images/vectors/magni.svg);
    width: 34px;
    height: 34px;
    margin-left: 19px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.search__input {
    border: none;
    background: transparent;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
}

.search__input:focus-visible {
    outline: none;
    color: #8B8B8B;
}

.search__button {
    background-image: url(/src/images/vectors/find.svg);
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-size: contain;

    transition: opacity 0.1s linear;
}

.search__button:hover {
    opacity: 0.8;
}

.search__divider {
    height: 40px;
    width: 1px;
    background-color: #424242;
}

.search__radio-container {
    display: flex;
    align-items: center;

    padding-right: 30px;
}

.search__radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.search__radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.search__radio+label::before {
    content: '';
    display: inline-block;
    width: 36px;
    height: 20px;
    background-color: #e1e1e15e;
    border-radius: 20px;

    background-image: url(/src/images/vectors/tumbler.svg);
    background-position: 6px;
    background-repeat: no-repeat;

    transition: background-color 0.2s linear, background-position 0.15s ease-in-out;
}

.search__radio:checked+label::before {
    background-position: 22px;
    background-color: #3DDC84;
}

.search__radio-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding-left: 15px;
}

@media screen and (max-width: 768px) {
    .search {
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 80px;
    }

    .search__container {
        margin-bottom: 109px;
    }
}

@media screen and (max-width: 650px) {
    .search__divider {
        display: none;
    }

    .search__container {
        flex-direction: column;
        gap: 45px;
        background-color: #202020;
    }

    .search__magni {
        display: none;
    }

    .search__container {
        margin-bottom: 45px;
    }

    .search__form {
        background: #2F2F2F;
        border-radius: 9px;
    }

    .search__input {
        padding-left: 19px;
    }

    .search__button {
        margin-right: 19px;
    }
}

@media screen and (max-width: 360px) {
    .search {
        padding-right: 10px;
        padding-left: 10px;
    }

    .search__input {
        font-size: 14px;
    }

    .search__radio-text {
        font-size: 11px;
    }
}