.register {
    max-width: 396px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.register__logo {
    background-image: url(/src/images/vectors/logo.svg);
    width: 38px;
    height: 38px;
}

.register__logo-link {
    margin-top: 70px;
    margin-bottom: 40px;

    width: 38px;
    height: 38px;
}

.register__title {
    margin: 0;
    padding-bottom: 40px;

    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.register__form {
    display: flex;
    flex-direction: column;
}

.register__input-container {
    display: flex;
    flex-direction: column;
}

.register__label {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    padding-bottom: 10px;

    color: #8B8B8B;
}

.register__input {
    border: none;
    background: #2F2F2F;
    padding-left: 15px;
    height: 46px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;

    margin-bottom: 20px;
}

.register__input:last-child {
    margin-bottom: 10px;
}

.register__input:focus-visible {
    outline: none;
    color: #FFFFFF;
}

.register__input_error {
    color: #EE3465;
}

.register__error {
    display: none;
}

.register__error_visible {
    display: inline;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #EE3465;
}

.register__button {
    height: 45px;
    margin-top: 69px;
    margin-bottom: 16px;
    background: #4285F4;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.register__text {
    padding-bottom: 70px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
}

.register__link {
    padding-left: 6px;
    color: #4285F4;
    text-decoration: none;
}

@media screen and (max-width: 768px) {

    .register__logo-link {
        margin-top: 232px;
    }

    .register__text {
        padding-bottom: 232px;
    }
}

@media screen and (max-width: 450px) {

    .register__logo-link {
        margin-top: 56px;
        margin-bottom: 50px;
    }

    .register {
        max-width: 260px;
        align-items: center;
    }

    .register__title {
        padding-bottom: 80px;
    }

    .register__form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .register__button {
        font-size: 12px;
        line-height: 15px;
        margin-top: 157px;
    }

    .register__text {
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 30px;
    }
}