.footer {
    padding-top: 79px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
}

.footer__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__title {
    padding-bottom: 20px;

    text-align: center;
    color: #8B8B8B;
}

.footer__container {
    border-top: #424242 1px solid;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer__links {
    display: flex;
    gap: 20px;
}

.footer__link {
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .footer {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 400px) {
    .footer {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer__text {
        font-size: 12px;
        line-height: 15px;
    }

    .footer__year {
        text-align: center;
        color: #8B8B8B;
    }

    .footer__container {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 30px;
        gap: 30px;
    }

    .footer__links {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
}